.content {
    &__wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
        grid-gap: 30px;
    }

    &__body {
        padding-bottom: 50px;
    }
}

@media (max-width: 900px) {
    .content {
        &__wrapper {
            grid-template-columns: 1fr;
        }
    }
}
